/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fffefe;
    color: rgb(0, 0, 0);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px;
}

header h2 {
    margin: 0;
    font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario */
}

header nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0;
    position: relative;
}

header nav a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #7e0000;
    font-weight: bold;
    border-radius: 5px;
}

/* Hero section */
.hero {
    background-color: #f2f2f2; /* Fondo gris claro */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/* Formulario de registro */
.form-container {
    display: flex;
    flex-direction: column; /* Ajusta la disposición de los elementos */
    align-items: center;
    height: calc(100vh - 200px); /* Altura del viewport menos la altura del hero */
    background-color: #ffffff;
}

/* Ocultar el "Registro" duplicado */
.form-container h2 {
    display: none;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #7e0000; /* Fondo rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #5e0000;
}

/* Estilos para los botones */
a.btn {
    display: block; /* Para que se muestre en línea con el formulario */
    width: 100%; /* Asegura que el botón tenga el mismo ancho que los inputs */
    padding: 10px;
    background-color: #7e0000; /* Fondo rojo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

/* Separación entre los botones */
.login-btn {
    margin-bottom: 10px; /* Añade espacio debajo del botón "INICIAR SESIÓN" */
}

.register-btn {
    margin-top: 10px; /* Añade espacio arriba del botón "Registrarse" */
}

a.btn:hover {
    background-color: #5e0000;
}

/* Footer */
.footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer h3 {
    margin: 0;
}

.footer p {
    margin: 10px 0;
}
